Tugas Pertemuan 5 _ Supabase Vector Store dari File Google Docs.json
{
  "name": "Tugas Pertemuan 5 : Supabase Vector Store dari File Google Docs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1IzbR8Ha3W9DX8emyVfRQjprCU2--9X5BRv7xyvaQ0lY",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi 1",
          "cachedResultUrl": "https://docs.google.com/document/d/1IzbR8Ha3W9DX8emyVfRQjprCU2--9X5BRv7xyvaQ0lY/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "39d8cb0c-0207-4a07-a670-4665a98092fe",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JVh74xt9p4pZEpDX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8889defe-fb23-4a2e-84da-02b4e4b7cb84",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c6bd04e0-f31b-4c48-abc6-1dea318aff97",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "89f09f25-2acf-46f0-a93b-b119422fa9a1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JVh74xt9p4pZEpDX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "bf857266-9b34-4d15-ad2e-30b5a193aaec",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "e9144f23-d893-46b2-8bff-707746cb26ce",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "M2PROhkX9bW23U3A",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        208
      ],
      "id": "7781a67a-7df9-4901-ac47-c3ee614ae25e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "xqjZaauoxnTJ44nN",
          "name": "Google Gemini(PaLM) Api account 12"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        208
      ],
      "id": "ea56537a-04d9-4cbd-b242-0f83b31e4720",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        304
      ],
      "id": "eeaa1e11-96fc-409b-af4d-36ea95bb79e9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is coco. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        256
      ],
      "id": "49cfd182-e86b-436f-98af-8be7a7cd6350",
      "name": "When chat message received",
      "webhookId": "73fec67c-7d72-47d3-a10e-eacd29571475"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu adalah asisten penulisan ilmiah tugas akhir atau skripsi yang hanya menjawab berdasarkan data dari Supabase Vector Store, dan jika informasi tidak tersedia maka jawab “Mohon maaf, saya belum dapat memberikan jawaban.”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        256
      ],
      "id": "424a25eb-fb09-4dfc-bece-f438181da6d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        368
      ],
      "id": "648596d1-3188-4c24-b29c-24ee7659c118",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xqjZaauoxnTJ44nN",
          "name": "Google Gemini(PaLM) Api account 12"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan Tool ini untuk \nmenjawab pertanyaan tentang TA.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        512,
        336
      ],
      "id": "e89ef8b9-de95-474b-8498-631d29907b60",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "M2PROhkX9bW23U3A",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        480
      ],
      "id": "9dc8c589-688e-4b41-b463-dd6f8adb834d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "xE7N4yUuK31xZWt5",
          "name": "Google Gemini(PaLM) Api account 11"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        208,
        464
      ],
      "id": "4e7910ac-42e0-4677-8725-e3affcd3d181",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "pdUPr3yzhml4s3tF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "109e13bb-697b-4374-ad5b-d0991a0e9e5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f02f79a3a5cc983fb4af51a8633fcb026e2b929b4cf7a1dcd4eb1bf61fd7ff5e"
  },
  "id": "ODi1dTFNqLPV2L7i",
  "tags": []
}